@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
  font-family: 'Nunito';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  font-family: 'Nunito';
  min-height: 100%;
  position: relative;
}
.flex-container {
  display: flex;
}

.centrar-vertical {
  vertical-align: middle
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.footerSiempreAbajo {
  padding-bottom: 100px;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
  color: white;
}

